[submodule "config-repo"]
	path = config-repo
	url = https://github.com/paras16jul1991/config-repo.git
	branch = master
[submodule "configserver"]
	path = configserver
	url = https://github.com/paras16jul1991/configserver.git
	branch = master
[submodule "configclient"]
	path = configclient
	url = https://github.com/paras16jul1991/configclient.git
	branch = master
